# Core functionality - changes here should be rare!
/src/app.py                   @Elmehdi-Erraji
/src/backend/database.py      @Elmehdi-Erraji
/src/backend/routers/auth.py  @Elmehdi-Erraji

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Elmehdi-Erraji
